<footer class="bg-dark text-white text-center">
    <!-- Grid container -->
    <div class="container p-4">
        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase">Sobre Nosotros</h5>
                <p>
                    Tecnophones nace como un emprendimiento, el cual viene creciendo poco a poco. Dedicada exclusivamente en la venta de productos apple asi como tambien en asesoramiento personalizado para la compra de los mismos.
                </p>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h6 class="text-uppercase fw-bold mb-4">Contacto</h6>
                <p><i class="fas fa-map-marker-alt me-3"></i> Macia, Entre Rios</p>
                <p><i class="fas fa-phone me-3"></i> +54 3445-433772</p>
                <a href="https://www.instagram.com/iphonemacia?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank" class="btn btn-outline-light btn-floating mx-1" role="button"><i class="fab fa-instagram"></i></a>
                <a href="https://wa.me/+543445433772" target="_blank" class="btn btn-outline-light btn-floating mx-1" role="button"><i class="fab fa-whatsapp"></i></a>
                <a href="https://www.tiktok.com/@iphone.macia?is_from_webapp=1&sender_device=pc" target="_blank" class="btn btn-outline-light btn-floating mx-1" role="button"><i class="fab fa-tiktok"></i></a>
            </div>
            <!--Grid column-->
            <!--Grid column para el logo-->
           
            

        </div>
        <!--Grid row-->
    </div>
    <!-- Grid container -->
    <div class="col-lg-3 col-md-6 mb-4 mb-md-0" style="max-width: 100px;">
        <a href="https://www.instagram.com/owlsync.arg/" target="_blank">
            <img src="/assets/img/owlSync.png" alt="Logo" class="img-fluid">
        </a>
    </div>
    
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2024 Copyright: TecnoPhones Macia
    </div>
    <!-- Copyright -->

  

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</footer>



